<title>{{ verification.claim }}</title>


<app-nav></app-nav>

<section class="relative min-h-[100vh] flex flex-col items-center justify-center gap-8 bg-[url('/assets/main.png')] bg-cover bg-center bg-no-repeat bg-fixed px-6 py-10 text-white before:absolute before:inset-0 before:bg-black/60 md:px-10 md:py-0">

    @if (isLoading) {
        <div class="text-2xl font-semibold text-white">Loading...</div>
    } @else if (verification) {
        <div class="relative w-full max-h-[875px] mb-10 mt-10 overflow-y-auto border border-white/20 bg-white/10 p-6 text-base shadow-lg backdrop-blur-md rounded-xl">

            <div class="mb-4">
                <h2 class="mb-1 text-2xl text-center font-bold"> {{ verification.claim }}?</h2>

                <p class="text-white/70 text-center">
                    Status:
                    <span class="font-semibold" [ngClass]="{
                        'text-green-400': verification.status === 'VERIFIED',
                        'text-yellow-400': verification.status === 'PENDING',
                        'text-red-400': verification.status === 'FAILED'
                    }">
                        {{ verification.status }}
                    </span>
                </p>
            </div>

            <div class="mb-4">
                <p class="text-white/90"><strong class="mr-2 text-xl font-semibold">Claim:</strong>{{ verification.claim }}</p>
            </div>
            <div class="mb-4">
                <p class="text-white/90"><strong class="mr-2 text-xl font-semibold">Verdict Type:</strong>
                <span class="font-semibold" [ngClass]="{
                    'text-green-400': verification.verdictType === 'TRUE',
                    'text-yellow-400': verification.verdictType === 'UNDEFINED',
                    'text-red-400': verification.verdictType === 'FAILED'
                    }">
                        {{ verification.verdictType }}
                    </span></p>
            </div>
            <div class="mb-6">
                <p class="leading-relaxed text-white/90"><strong class="mr-2 text-xl font-semibold">Reasoning:</strong>{{ verification.reasoning }}</p>
            </div>
            <div class="mb-6">
                <p class="text-white/90"><strong class="mr-2 text-xl font-semibold">Confidence Score:</strong>{{ verification.confidenceScore | number: '1.1-1' }}</p>
            </div>

            @if (verification.evidences?.length) {
                <div class="mb-6">
                    <h3 class="mb-2 text-xl font-semibold">Evidences:</h3>
                    <ul class="space-y-4">
                        @for (evidence of verification.evidences; track evidence) {
                            <li class="cursor-pointer p-4 border border-white/20 bg-white/10 rounded-lg transition-all duration-300 ease-in-out hover:bg-white/20 hover:shadow-lg hover:scale-[1.02]">
                                <a [href]="evidence.sourceUrl" target="_blank" class="cursor-pointer *:font-semibold underline hover:text-green-400 hover:no-underline">
                                    {{ evidence.sourceName }}
                                </a>
                                <p class="mt-1 text-white/90">{{ evidence.description }}</p>
                                <p class="mt-1 text-white/70">Relevance Score: {{ evidence.relevanceScore| number: '1.1-1' }}</p>
                            </li>
                        }
                    </ul>
                </div>
            }

            <div class="text-white/70">
                Submitted At: {{ verification.submittedAt | date:'yyyy-MM-dd HH:mm:ss' }} |
                Completed At: {{ verification.completedAt | date:'yyyy-MM-dd HH:mm:ss' }}
            </div>

            @if(verification.message) {
                <div class="mt-2 font-semibold text-green-400">{{ verification.message }}</div>
            }

        </div>
    } @else {
        <div class="text-2xl font-semibold text-white/80">No verification data found.</div>
    }
</section>

<app-footer></app-footer>
