<footer class="relative dark:bg-gray-900 px-10 py-10 text-white">
  <div class="flex flex-col justify-center text-center items-center md:flex-row md:justify-between gap-8">
    <div class="md:w-[40%] flex flex-col space-y-3 text-left">
      <h2 class="text-2xl font-semibold leading-snug">
        An AI-driven platform built to identify fake news and confirm information through credible and relevant sources.
      </h2>
      <p class="text-sm text-gray-300">
        Hello! Thank you for visiting our website. We use advanced AI technology to detect fake news and verify information through trusted and reliable sources. Our goal is to help you stay informed with accurate, fact-checked content and promote a safer, more trustworthy online community.
      </p>
    </div>

    <div class="md:w-[25%] flex flex-col space-y-2 text-left">
      <h1 class="text-2xl font-semibold mb-2">Site Links</h1>
      <ul class="space-y-1 text-gray-300">
        <li><a routerLink="/home" class="hover:text-blue-500 transition">Home</a></li>
        <li><a routerLink="/history" class="hover:text-blue-500 transition">History</a></li>
        <li><a routerLink="/settings" class="hover:text-blue-500  transition">Settings</a></li>
      </ul>
    </div>

    <div class="md:w-[25%] flex justify-center md:justify-end items-start">
      <a routerLink="/home" class="flex items-center space-x-3">
        <img src="assets/newscheck-logo.png" alt="NewsCheck Logo" class="w-60 h-auto">
      </a>
    </div>
  </div>

  <div class="mt-10 text-center text-sm font-medium text-gray-400">
    Copyright &copy; 2025 Created by 
    <span class="font-semibold text-cyan-400">
      Ken Aliling, Anicia Kaela Bonayao, Carl Norbi Felonia, Cedrick Miguel Kaneko, and Dino Alfred Timbol
    </span>
  </div>
</footer>
