<title>Reset Password</title>

<div class="min-h-screen flex">

    <!-- Top Panel for mobile -->
    <div class="fixed lg:hidden top-0 left-0 w-full bg-gray-900 pt-1 text-white">
        <div class="flex flex-col items-center text-center">
            <img src="assets/newscheck-logo.png" alt="NewsCheck Logo" class="w-40 mb-6">
        </div> 
    </div>

    <!-- Left panel -->
    <div class="hidden lg:flex w-1/2 bg-gray-900 text-white flex-col justify-center items-center">
        <div class="flex flex-col items-center px-8 text-center">
            <img src="assets/newscheck-logo.png" alt="NewsCheck Logo" class="w-80 mb-6">
        </div>
    </div>

    <!-- Right panel -->
    <div class="flex w-full lg:w-1/2 justify-center items-center bg-white">
        <div class="w-full max-w-lg px-8">
            <h1 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
                Reset your password
            </h1>

            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate class="space-y-5">
                <div>
                    <label for="newPassword" class="block text-sm font-medium text-gray-600 mb-1">New Password</label>
                    <input
                        required
                        type="password"
                        name="newPassword"
                        [(ngModel)]="form.newPassword"
                        #username="ngModel"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    />
                </div>

                <div>
                    <label for="confirmPassword" class="block text-sm font-medium text-gray-600 mb-1">Confirm New Password</label>
                    <input
                        type="password"
                        name="confirmPassword"
                        [(ngModel)]="form.confirmPassword"
                        required
                        #password="ngModel"
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none"
                    />
                </div>

                <button
                    type="submit"
                    class="cursor-pointer w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all font-semibold">
                    Reset Password 
                </button>
            </form>
        </div>
    </div>
</div>
